<% layout("/layouts/boilerplate") %>

    <div class="show-container">
        <div class="show-row">
            <div class="show-card-new">
                <h2 class="show-title">
                    <%= pet.name %>
                </h2>
                <img src="<%= pet.image %>" class="show-img-new" alt="pet image">
                <div class="show-card-body">
                    <h5><strong>Description:</strong>
                        <%= pet.description %>
                    </h5>
                    <h5><strong>Price:</strong> $<%= pet.price %>
                    </h5>
                    <h5><strong>Traits:</strong>
                        <%= pet.traits %>
                    </h5>
                    <h5><strong>Breed:</strong>
                        <%= pet.breed %>
                    </h5>

                    <div class="show-btns">
                        <a href="/pets/<%= pet._id %>/editPet" class="show-edit-btn">Edit</a>
                        <form action="/pets/<%= pet._id %>?_method=DELETE" method="POST">
                            <button class="show-delete-btn">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>